name: deploy.yaml

on:
  pull_request:
    types: [opened, reopened, edited]
    branches:
      - main

permissions:
  pages: write
  id-token: write
  contents: read
  pull-requests: write
  statuses: write

jobs:
  # Check if all tasks in PR are completed
  task-check:
    name: Check PR Tasks
    needs: [link-checker]
    uses: ./.github/workflows/check-tasks.yaml
    secrets: inherit

  # Check for broken links in markdown files
  link-checker:
    name: Check Links
    needs: [task-check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --max-concurrency 1 -v articles/*.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # Deploy to GitHub Pages if all tasks are completed
  deploy-gh-pages:
    name: Deploy to GitHub Pages
    needs: [link-checker]
    uses: ./.github/workflows/gh-pages.yaml
    secrets: inherit

  # Deploy to IPFS if all tasks are completed
  deploy-ipfs:
    name: Deploy to IPFS
    needs: [link-checker]
    uses: ./.github/workflows/ipfs.yaml
    secrets: inherit
